.gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gauge-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
}

.gauge-preview {
  max-width: 100%;
  overflow: visible;
  padding: 30px;
}

.gauge-value {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  fill: #6b7280;
}

.progress-background-color {
  stroke: #f7fafc;
}

.text-default-color {
  font-size: 0.875rem;
  font-weight: 500;
  fill: #6b7280;
}

.middle-base-color {
  fill: #d1d5db;
}

.midpoint-color {
  fill: #ccc;
}

.tick-color {
  stroke: #ccc;
}

.needle-color {
  fill: #374151;
}

.progress-color {
  stroke: #329e11;
}

.warning-progress-color {
  stroke: #dceb15;
}

.critical-progress-color {
  stroke: #c7472e;
}
