.thermometer-container {
  position: relative;
  padding: 0 10px 0 0;
  margin-left: 100px;
  width: 40px;
}

.thermometer-wrapper {
  position: relative;
  width: 20px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: height 0.3s ease-in-out;
  border-radius: 5px;
}

.min-value {
  margin-left: 20px;
  color: #333131;
  font-size: 12px;
  font-style: normal;
}

.max-value {
  margin-left: 20px;
  color: #333131;
  font-size: 12px;
  font-style: normal;
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: -8px;
  top: 0;
  height: 100%;
}
