.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gauge-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
}

.gauge-preview {
    max-width: 100%;
    overflow: visible;
    padding: 30px;
}

.gauge-value {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    fill: #6b7280;
}

.progress-background-color {
    stroke: #f7fafc;
}

.text-default-color {
    font-size: 0.875rem;
    font-weight: 500;
    fill: #6b7280;
}

.middle-base-color {
    fill: #d1d5db;
}

.midpoint-color {
    fill: #ccc;
}

.tick-color {
    stroke: #ccc;
}

.needle-color {
    fill: #374151;
}

.progress-color {
    stroke: #329e11;
}

.warning-progress-color {
    stroke: #dceb15;
}

.critical-progress-color {
    stroke: #c7472e;
}


/*//thermometer styles*/

.thermometer-container {
    position: relative;
    padding: 0 10px 0 0;
    margin-left: 100px;
    width: 40px;
}

.thermometer-wrapper {
    position: relative;
    width: 20px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: height 0.3s ease-in-out;
    border-radius: 5px;
}

.min-value {
    margin-left: 20px;
    color: #333131;
    font-size: 12px;
    font-style: normal;
}

.max-value {
    margin-left: 20px;
    color: #333131;
    font-size: 12px;
    font-style: normal;
}

.separator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: -8px;
    top: 0;
    height: 100%;
}

/*Relay button styles*/
.relay-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 180px;
    border: 2px solid #eaa612;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.switcher-container-off {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: transparent;
    border: none;
    width: 100%;
}

/*FIXME*/

.el-left {
    position: relative;
    width: 40px;
    height: 6px;
    background-color: #eaa612;
    border-radius: 3px;
}

.el-left:after {
    position: absolute;
    content: '';
    right: -28px;
    top: 3px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 6px solid #eaa612;
}

.el-right {
    position: relative;
    width: 40px;
    height: 6px;
    background-color: #eaa612;
    border-radius: 3px;
}

.el-right:before {
    position: absolute;
    content: '';
    left: -5px;
    top: 3px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 6px solid #eaa612;
}

.el-right:after {
    position: absolute;
    content: '';
    left: -50px;
    top: 0;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    background-color: #eaa612;
    transform-origin: 100% 0;
    transform: rotateZ(45deg);
    animation: rotate 0.5s ease-in-out 1
}

.el-right-reverse {
    position: relative;
    width: 40px;
    height: 6px;
    background-color: #eaa612;
    border-radius: 3px;
}

.el-right-reverse:after {
    position: absolute;
    content: '';
    left: -50px;
    top: 0;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    background-color: #eaa612;
    transform-origin: 100% 0;
    transform: rotateZ(45deg);
    animation: rotate-reverse 0.5s ease-in-out 1
}

.el-right-reverse:before {
    position: absolute;
    content: '';
    left: -5px;
    top: 3px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 6px solid #eaa612;
}

.line {
    width: 120px;
    height: 6px;
    border-radius: 3px;
    background-color: #eaa612;
}

.el-right.rotated {
    /* Apply the final rotation directly when the 'rotated' class is added */
    transform: rotateZ(0deg);
}


@keyframes rotate {
    0% {
        transform: rotateZ(45deg);
    }

    100% {
        transform: rotateZ(0deg);

    }

}

@keyframes rotate-reverse {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(45deg);

    }

}
