.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gauge-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
}

.gauge-preview {
    max-width: 100%;
    overflow: visible;
    padding: 30px;
}

.gauge-value {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    fill: #6b7280;
}

.progress-background-color {
    stroke: #f7fafc;
}

.text-default-color {
    font-size: 0.875rem;
    font-weight: 500;
    fill: #6b7280;
}

.middle-base-color {
    fill: #d1d5db;
}

.midpoint-color {
    fill: #ccc;
}

.tick-color {
    stroke: #ccc;
}

.needle-color {
    fill: #374151;
}

.progress-color {
    stroke: #329e11;
}

.warning-progress-color {
    stroke: #dceb15;
}

.critical-progress-color {
    stroke: #c7472e;
}


/*//thermometer styles*/

.container {
    position: relative;
    padding: 0 10px 0 0;
    margin-left: 100px;
    width: 40px;
}

.thermometer-wrapper {
    position: relative;
    width: 20px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;

}

.progress {
    background-color: #ee1a2c; /* Progress bar color */
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: height 0.3s ease-in-out;
    border-radius: 5px;
}

.value-wrapper {
    margin-left: 30px;

    color: #03031c;
}

.separator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: -20px;
    top: 0;
    height: 100%;
}

